@import url("m3-svelte/misc/styles.css");
@import url("m3-svelte/misc/recommended-styles.css");
/*  */

iconify-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(var(--m3-scheme-background));
  color: rgb(var(--m3-scheme-on-background));
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  min-height: 100vh;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
  :root, ::backdrop {
    --m3-util-density: -2;
    --m3-scheme-primary: 222 196 135;
    --m3-scheme-surface-tint: 222 196 135;
    --m3-scheme-on-primary: 79 62 14;
    --m3-scheme-primary-container: 99 80 31;
    --m3-scheme-on-primary-container: 252 224 161;
    --m3-scheme-secondary: 214 197 160;
    --m3-scheme-on-secondary: 74 63 36;
    --m3-scheme-secondary-container: 69 58 31;
    --m3-scheme-on-secondary-container: 207 190 154;
    --m3-scheme-tertiary: 255 205 169;
    --m3-scheme-on-tertiary: 107 65 30;
    --m3-scheme-tertiary-container: 249 189 143;
    --m3-scheme-on-tertiary-container: 96 56 22;
    --m3-scheme-error: 249 119 88;
    --m3-scheme-on-error: 69 9 0;
    --m3-scheme-error-container: 133 35 10;
    --m3-scheme-on-error-container: 255 155 130;
    --m3-scheme-background: 17 14 8;
    --m3-scheme-on-background: 239 228 209;
    --m3-scheme-surface: 17 14 8;
    --m3-scheme-on-surface: 239 228 209;
    --m3-scheme-surface-variant: 78 71 57;
    --m3-scheme-on-surface-variant: 180 170 152;
    --m3-scheme-outline: 125 117 100;
    --m3-scheme-outline-variant: 78 71 57;
    --m3-scheme-shadow: 0 0 0;
    --m3-scheme-scrim: 0 0 0;
    --m3-scheme-inverse-surface: 255 248 241;
    --m3-scheme-inverse-on-surface: 89 84 76;
    --m3-scheme-inverse-primary: 112 93 42;
    --m3-scheme-primary-fixed: 251 224 160;
    --m3-scheme-on-primary-fixed: 78 61 13;
    --m3-scheme-primary-fixed-dim: 237 210 148;
    --m3-scheme-on-primary-fixed-variant: 109 89 39;
    --m3-scheme-secondary-fixed: 243 225 187;
    --m3-scheme-on-secondary-fixed: 73 62 35;
    --m3-scheme-secondary-fixed-dim: 228 211 174;
    --m3-scheme-on-secondary-fixed-variant: 103 90 61;
    --m3-scheme-tertiary-fixed: 249 189 143;
    --m3-scheme-on-tertiary-fixed: 73 37 4;
    --m3-scheme-tertiary-fixed-dim: 234 175 131;
    --m3-scheme-on-tertiary-fixed-variant: 107 65 30;
    --m3-scheme-surface-dim: 17 14 8;
    --m3-scheme-surface-bright: 49 43 31;
    --m3-scheme-surface-container-lowest: 0 0 0;
    --m3-scheme-surface-container-low: 23 19 11;
    --m3-scheme-surface-container: 29 25 16;
    --m3-scheme-surface-container-high: 36 31 21;
    --m3-scheme-surface-container-highest: 43 37 25;
    --m3-font: "Roboto Flex", sans-serif;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }
  :root, ::backdrop {
    --m3-util-density: -2;
    --m3-scheme-primary: 116 92 27;
    --m3-scheme-surface-tint: 116 92 27;
    --m3-scheme-on-primary: 255 248 240;
    --m3-scheme-primary-container: 244 212 134;
    --m3-scheme-on-primary-container: 94 72 5;
    --m3-scheme-secondary: 107 94 64;
    --m3-scheme-on-secondary: 255 248 240;
    --m3-scheme-secondary-container: 243 225 187;
    --m3-scheme-on-secondary-container: 93 80 52;
    --m3-scheme-tertiary: 130 85 48;
    --m3-scheme-on-tertiary: 255 247 244;
    --m3-scheme-tertiary-container: 249 189 143;
    --m3-scheme-on-tertiary-container: 96 56 22;
    --m3-scheme-error: 167 59 33;
    --m3-scheme-on-error: 255 247 246;
    --m3-scheme-error-container: 253 121 90;
    --m3-scheme-on-error-container: 110 20 0;
    --m3-scheme-background: 255 248 241;
    --m3-scheme-on-background: 56 50 37;
    --m3-scheme-surface: 255 248 241;
    --m3-scheme-on-surface: 56 50 37;
    --m3-scheme-surface-variant: 187 177 159;
    --m3-scheme-on-surface-variant: 102 94 79;
    --m3-scheme-outline: 130 122 106;
    --m3-scheme-outline-variant: 187 177 159;
    --m3-scheme-shadow: 0 0 0;
    --m3-scheme-scrim: 0 0 0;
    --m3-scheme-inverse-surface: 17 14 8;
    --m3-scheme-inverse-on-surface: 163 156 146;
    --m3-scheme-inverse-primary: 244 212 134;
    --m3-scheme-primary-fixed: 244 212 134;
    --m3-scheme-on-primary-fixed: 71 54 0;
    --m3-scheme-primary-fixed-dim: 230 198 122;
    --m3-scheme-on-primary-fixed-variant: 104 81 16;
    --m3-scheme-secondary-fixed: 243 225 187;
    --m3-scheme-on-secondary-fixed: 73 62 35;
    --m3-scheme-secondary-fixed-dim: 228 211 174;
    --m3-scheme-on-secondary-fixed-variant: 103 90 61;
    --m3-scheme-tertiary-fixed: 249 189 143;
    --m3-scheme-on-tertiary-fixed: 73 37 4;
    --m3-scheme-tertiary-fixed-dim: 234 175 131;
    --m3-scheme-on-tertiary-fixed-variant: 107 65 30;
    --m3-scheme-surface-dim: 228 217 198;
    --m3-scheme-surface-bright: 255 248 241;
    --m3-scheme-surface-container-lowest: 255 255 255;
    --m3-scheme-surface-container-low: 252 242 228;
    --m3-scheme-surface-container: 247 237 221;
    --m3-scheme-surface-container-high: 241 231 214;
    --m3-scheme-surface-container-highest: 236 225 206;
    --m3-font: "Roboto Flex", sans-serif;
  }
}
